.btn {
  @apply px-4 py-2 text-left font-bold text-base leading-tight;
  width: fit-content;

  @screen xl {
    @apply px-5 py-3;
  }
}

.btn-primary-light {
  @apply bg-gradient-105-primary-light rounded-full text-white;
  &:hover {
    @apply bg-gradient-105-h-primary-light text-white;
  }
  &:active {
    @apply bg-gradient-105-primary-light text-white;
  }
  &:disabled {
    &:hover {
      @apply bg-gradient-105-primary-light rounded-full text-white;
    }
  }
}

.btn-primary-dark {
  @apply bg-gradient-90-primary-dark rounded-full text-white;

  &:hover {
    @apply bg-gradient-105-h-primary-dark text-white;
  }
  &:active {
    @apply bg-gradient-105-primary-dark text-white;
  }
  &:disabled {
    &:hover {
      @apply bg-gradient-105-h-primary-dark text-white;
    }
  }
}

.btn-accent {
  @apply bg-info rounded-full text-white;
  &:hover {
    @apply bg-h-info text-white;
  }
  &:active {
    @apply bg-info text-white;
  }
  &:disabled {
    &:hover {
      @apply bg-info rounded-full text-white;
    }
  }
}

.btn-outline {
  @apply bg-white rounded-full text-primary-light border border-primary-light;

  &:hover {
    @apply bg-light-softer text-primary-light;
  }
  &:active {
    @apply bg-light-soft text-primary-light;
  }
  &:disabled {
    &:hover {
      @apply bg-white rounded-full text-primary-light border border-primary-light;
    }
  }
}

.btn-transparent {
  @apply text-primary-light bg-transparent px-4 rounded-full;
}

.btn-small-green {
  @apply bg-transparent rounded-md text-green-light border-2 border-green-light w-40 px-2 py-1;
}

.btn-small-red {
  @apply bg-transparent rounded-md text-red border-2 border-red w-40 px-2 py-1;
}

.btn-small-yellow {
  @apply bg-transparent rounded-md text-yellow border-2 border-yellow w-40 px-2 py-1;
}

.btn-small-blue {
  @apply bg-transparent rounded-md text-primary-light border-2 border-primary-light w-40 px-2 py-1;
}

.btn-link {
  @apply text-primary-light bg-transparent px-4 rounded-full;

  &:hover {
    @apply bg-light-softer;
  }
  &:active {
    @apply bg-transparent;
  }
  &:disabled {
    &:hover {
      @apply bg-transparent;
    }
  }
}

.btn-icon {
  @apply flex items-center justify-between whitespace-nowrap;
}

.btn:disabled {
  @apply cursor-not-allowed opacity-50;
}

@media only screen and (max-width: 1024px) {
  .btn {
    // width: 100%;
    // text-align: center;
    min-height: 42px;
    padding-left: 27px;
    padding-right: 27px;
  }
  button.absolute {
    width: auto;
  }
}
