@font-face {
  font-family: 'Proxima Nova';
  font-weight: 700;
  src: url('fonts/5596920/cc85d073-4dcf-4ecd-9804-40c34e631e2b.woff2')
      format('woff2'),
    url('fonts/5596920/332136cf-33d0-43fb-97ee-49c7742489ff.woff')
      format('woff');
}
@font-face {
  font-family: 'Proxima Nova';
  font-weight: 800;
  src: url('fonts/5596977/c8e0146f-ebf2-4e86-bd3d-047c9a5e5dac.woff2')
      format('woff2'),
    url('fonts/5596977/e7972ec4-f161-406c-be4c-f32e884989e7.woff')
      format('woff');
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: 600;
  src: url('fonts/5738932/c7dcb253-8dca-459b-aaa9-afef9131ef22.woff2')
      format('woff2'),
    url('fonts/5738932/390be235-bf11-42ee-8ba1-2dd10ca6a4ac.woff')
      format('woff');
}
